# discord app token
token=
# discord public key (to verify interactions)
discord_public_key=
# client secret (oauth2)
client_secret=
# oauth2 encryption key
oauth2_encryption_key=
# your server port
port=
# an array of "dev" ids for your app
dev_ids=
# wether or not the app is under maintenance
maintenance=
# wether or not you want to register commands
register_commands=
# supabase credentials
supabase_url=
supabase_api_key=
# redis credentials
redis_username=
redis_password=
redis_host=
redis_port=
# API keys
eleven_labs_api_key=
tolgchu_twitter_api_key=
