# discord bot token
token=
# discord public key (to verify interactions)
discord_public_key=
# your server port
port=
# an array of "dev" ids for your bot
dev_ids=
# wether or not the bot is under maintenance
maintenance=
# wether or not you want to register commands
register_commands=
# supabase credentials
supabase_url=
supabase_api_key=
# redis credentials
redis_username=
redis_password=
redis_host=
redis_port=
# API keys
nvidia_api_key=
eleven_labs_api_key=
linkdave_password=
tolgchu_twitter_api_key=
